body
{
    font-family: "Catamaran", sans-serif;
    font-family: "Old Standard TT", serif;
}

.header
{
    height: 90vh;
    width: 100%;

    background: linear-gradient(
        to right,
        rgb(62,32,233),
        rgba(250,64,64.0.5)
    );
    background-image: url(https://wcm-cdn.wacom.com/-/media/images/discover-2020/elearning/wacom-elearning-home-tablets-for-teaching-f.jpg?h=573&iar=0&w=1400&rev=c75499ea46584a40858fee4215a0c613&hash=1B5BA0BD014AE846B57C4EC199C9AF0D);
    background-size: cover;
}

.h-100
{
    height: 100%;
    width: 100%;
}

.btn
{
    border-radius: 10rem !important;
    padding: 1.25rem 2.24rem !important;
}

.message
{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); 
}

#para
{
    width: 70%;
    position: relative;
    left: -10%;
}
.myicon
{
    font-size: 60px;
    padding: 20px;
}